@page "/"

@inject ILocalStorageService localStorage
@inject NavigationManager NavigationManager

<h1>
    Views statistics
</h1>

<HomeAnalytics />

@code {
    protected override async Task OnInitializedAsync()
    {
        var apikey = await localStorage.GetItemAsync<string>("api-key");

        if (string.IsNullOrEmpty(apikey))
        {
            NavigationManager.NavigateTo("settings");
        }
    }
}